<app-owner-home></app-owner-home>
<h1>Owners</h1>

<form [formGroup]="ownerForm" (ngSubmit)="searchOwner()">
  <label for="ownerId">Enter Owner ID:</label>
  <input id="ownerId" formControlName="ownerId" type="number" placeholder="Owner ID" required>
  <button type="submit" [disabled]="!ownerForm.valid">Search Owner</button>
</form>

<div *ngIf="ownerById">
  <h3>Owner Details</h3>
  <p><strong>Name:</strong> {{ ownerById.name }}</p>
  <p><strong>Surname:</strong> {{ ownerById.surName }}</p>
  <p><strong>Email:</strong> {{ ownerById.email }}</p>
</div>
<div>
<!-- <h3>Owners:</h3>
    <pre>{{ owners | json }}</pre> -->
  </div>