<nav class="navbar">
  <a class="logo" routerLink="/home" routerLinkActive="active">Technikon</a>
    <ul class="get-buttons">
      <li><a routerLink="/repairs" routerLinkActive="active">GET</a></li>
      <li><a routerLink="/create-owner" routerLinkActive="active">CREATE</a></li>
      <li><a routerLink="/update-owner" routerLinkActive="active">UPDATE</a></li>
      <li><a routerLink="/update-owner" routerLinkActive="active">DELETE</a></li>
    </ul>
  </nav>
 
  <router-outlet></router-outlet>
  